@keyframes welcomeNav {
    0% { top: -500px; }
    90% { top: -500px; }
    100% { top: 0; }
}

@keyframes welcomeHeader {
    0% { height: 1000px; }
    70% { height: 1000px; }
    100% { height: 300px; }
}

@keyframes welcomeTitle {
    0% { color: #000; color: rgba(255,255,255,0); }
    100% { color: #fff; color: rgba(255,255,255,0.8); }
}

@keyframes welcomeMain {
    0% { margin-top: 1000px; }
    90% { margin-top: 1000px; }
    100% { margin-top: 0px; }
}

@keyframes titleBounceLeft {
    0% { margin-left: 20px; margin-right: 5px; }
    100% { margin-left: 10px; margin-right: 15px; }
}

@keyframes titleBounceRight {
    0% { margin-left: 10px; margin-right: 15px; }
    50% { margin-left: 35px; margin-right: -10px; }
    100% { margin-left: 20px; margin-right: 5px; }
}

@keyframes linkHover {
    0% { color: #888; border-bottom: 1px solid #fff; }
    100% { color: #000; border-bottom: 1px solid #000; }
}

/*-- Website welcoming --*/
nav {
    animation: welcomeNav 5s ease-in-out;
}

header {
    animation: welcomeHeader 5s ease-in-out;
}

header > h1 {
    animation: welcomeTitle 5s ease-in-out;
}

main {
    animation: welcomeMain 5s ease-in-out;
}

/*-- Website Title --*/
nav h1 a#webTitle {
    animation: titleBounceRight 0.7s ease-in-out;
}

nav h1 a#webTitle:hover {
    animation: titleBounceLeft 0.3s ease-in-out;
}

/*-- Nav links --*/
nav ul.nav a:hover {
    animation: linkHover 0.3s ease-in-out;
}