* {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: url("../img/bg_1.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*------ Header ------*/
header {
    top: 0;
    padding: 0;
    margin: 0;
    height: 300px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/*---- Bar ----*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin: 0;
    background-color: rgb(256,256,256);
    /*background-color: rgba(256,256,256,0.9);*/
    padding: 5px;
    box-shadow: 0px 5px 5px rgb(0,0,0);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

/*-- Website Title --*/
nav h1 {
    display: inline;
    position: relative;
}

nav h1 a#webTitle {
    margin: 5px;
    margin-left: 20px;
    /* Text infos */
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
}

nav h1 a#webTitle:hover {
    margin-left: 10px;
    margin-right: 15px;
}

/*-- Nav --*/
ul.nav {
    display: inline-block;
    list-style: none;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
}

ul.nav li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0px 10px;
}

/* Link of the current page */
ul.nav li a.active {
    color: #000;
}

/* The other links of the navbar */
ul.nav a {
    color: #888;
    text-decoration: none;
    /*
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;*/
    border-bottom: 1px solid #fff;
}

ul.nav li a:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

/*---- Big Title ----*/
header > h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 50px;
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.8);
}

/*------- Main ------*/
main {
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(256,256,256);
    background-color: rgba(256,256,256,0.8);
    margin: 0;
    box-shadow: 0px 5px 5px rgb(0,0,0);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

main h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 30px;
}

main p {
    font-size: 24px;
    text-align: justify;
}

main #aboutMe span {
    font-size: 1.5em;
}

/*------ Footer ------*/
footer {
    clear: both;
    width: 100%;
    margin: 0;
}

/*---- Copyright ----*/
footer .copy {
    float: right;
    padding: 10px;
    padding-right: 3%;
    font-size: 14px;
    color: #999;
}

/*--- Back to top ---*/
footer a.top {
    float: left;
    padding: 1em;
    margin: 0;
    color: rgb(256,256,256);
    font-size: 20px;
    text-decoration: none;
}